@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --primary-col: black;
    --text-col: rgb(255, 255, 255);
}

* {
font-family: 'Inter';
font-style: normal;
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
height: auto;    
background-color: var(--primary-col);
color: var(--text-col);
line-height: 1.6;
}

a {
text-decoration: none;
color: black;
padding-left: 40px;
font-size: 27px;
font-family: 'Inter';
}

h1 {
left: 345.99px;
top: 337.04px;
font-family: 'Inter';
font-style: normal;
font-weight: 100;
font-size: 34.8438px;
line-height: 95.52%;
text-align: center;
color: #FFFFFF;
}

/*Used on navbar*/

.navbar {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22.1541px;
    line-height: 27px;
    padding-top: 50px;
    padding-bottom: 50px;
    list-style-type: none;
}

.navbar a {
    color: var(--text-col);
    padding: 10px;
    margin: 0 5px;
}

/*Utilities (Used everywhere)*/

.container {
    max-width: auto;
    margin: 0 auto;
    overflow: auto;
    padding: 40px 40px;
}



.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    
}

.grid {
    display: grid;
    margin-top: 50px;
    gap: 20px;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.pictures {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;

}


.text {
    font-family: 'Inter';
    font-style: normal;
    position: absolute;
    width: auto;
    font-weight: 100;
    font-size: 31.3802px;
    line-height: 95.52%;
    text-align: center;
}

.faces {
    padding-top: 200px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    
} 

.faces img {
    display: flex;
}

/* Project picture */

.camera .grid {
    grid-template-columns: 2fr;
    grid-template-rows: 2fr 2fr;
    text-align: center;
    margin-top: 0;
    font-family: 'Inter' sans-serif;
    font-weight: bold; 
}

.picture .flex {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;

}

.camerapic {
    left: 51.58203125px;
    top: 603.1658935546875px;
    border-radius: 0px;
}

.text p {
    display: flex;
    font-size: 30px;
    font-weight: 300;
    line-height: 28.66px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    margin-top: 100px;
    margin-left: 212px;
    margin-right: 212px;
    position: relative;
    bottom: 100px;
}


/* Image with text */

.extras .grid {
    display: grid;
    margin-top: 150px;
    grid-template: auto / auto auto;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.ext-1-pic {
    margin-top: 30px;
    margin-bottom: 123px;
}

#cam2text {
    display: flex;
    justify-content: center;
}

.extra-2-text {
    width: 438px;
    font-size: 30px;
    line-height: 29px;
    font-weight: 300;
    text-align: left;
}

#cam1text {
    display: flex;
    justify-content: end;
    margin-top: 100px;
}

.extra-1-text {
    width: 438px;
    height: 377px;
    text-align: end;
    margin-right: 0;
    font-size: 30px;
    line-height: 29px;
    font-weight: 300;
    margin-bottom: 250px;
}

.ext-2-pic {
    margin-left: 60px;
    margin-right: auto;
}

/* Review */

.heading2 {
    font-size: 80.47px  ;
  }

.CustomerReview {
    padding-top: 300px;
    align-items: center;
    display: flex;
    position: relative;
}

.Review .grid {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: repeat(3, auto);
    margin-inline: 10px;
}

.Review .grid > *:first-child {
    grid-row: 1 / span 3;
}

.Reviewpic {
    height: 409.94px;
    width: 323.42px;
    justify-content: end;
}

.reviewtexthead {
    font-weight: bold;
    font-family: 'Inter';
    font-style: normal;
    font-size: 58px;
    text-align: left;
}

.reviewtext {
    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
    font-weight: 0px;
    line-height: 29px;
    text-align: left;
    overflow: visible;
}

.CEO {
    font-family: 'Inter';
    font-style: normal;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: left;
    overflow: auto;
    overflow: visible;
}

/* Footer */

.footer {
    margin-top: 200px;
    background-color: white;
    color: var(--primary-col);
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    bottom:  0px;
    width: 100%;
}

.footer .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.footer .grid > *:first-child {
    grid-column: 1 / span 2;
    text-align: left;
}
